<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="defaultStart" default-destroy-method="defaultStop">

	<bean id="awareApplicationContext" class="com.mwk.bean.aware.AwareApplicationContext"></bean>
	
	<bean id="awareBeanName" class="com.mwk.bean.aware.AwareBeanName"></bean>

</beans>